@{
    ViewBag.Title = "Home Page";
}

<div>
    <table id="my-ajax-table" class="table">
        <thead>
            <tr>
                <th>BusinessEntityId</th>
                <th>NationalIdNumber</th>
                <th>LoginId</th>
                <th>JobTitle</th>
                <th>BirthDate</th>
                <th>Gender</th>
                <th>HireDate</th>
                <th>VacationHours</th>
                <th>ModifiedDate</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(function () {

        $('#my-ajax-table').dynatable({
            dataset: {
                ajax: true,
                ajaxUrl: '@Url.Action("EmployeeData", "Home")',
                ajaxOnLoad: true,
                records: []
            }
        });

    });
</script>